body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 16pt;
}

header {
    padding: 20px;
    font-size: 3em;
    font-weight: bold;
}

h1 {
    padding-left: 20px;
}

.recipe-list-header {
    height: 100px;
    line-height: 100px;
}

.recipe-list-header:first-of-type {
    margin-top: 0;
}

.recipe-list {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    list-style: none;
}


.recipe-card {
    padding: 20px;
    display: grid;
    grid-template-columns: 300px auto;
    grid-gap: 20px;
}


@media only screen and (max-width: 1200px) {
    .recipe-card,
    .recipe-list {
        grid-template-columns: 1fr;
    }
}

.baking-header {
    background: url('../img/baking-cropped.jpg');
}

.pasta-header {
    background: url('../img/pasta-cropped.jpg');
}

.fish-header {
    background: url('../img/fish-cropped.jpg');
}

.stew-header {
    background: url('../img/stew-cropped.jpg');
}

.sauce-header {
    background: url('../img/sauce-cropped.jpg');
}

.vegetables-header {
    background: url('../img/vegetables-cropped.jpg');
}

.misc-header {
    background: url('../img/misc-cropped.jpg');
}
