@mixin placeholder-style() {
	font-style: italic;
	font-size: 0.8em;
}

::-webkit-input-placeholder
{ /* WebKit browsers */
    @include placeholder-style();
}

:-moz-placeholder
{ /* Mozilla Firefox 4 to 18 */
    @include placeholder-style();
}

::-moz-placeholder
{ /* Mozilla Firefox 19+ */
    @include placeholder-style();
}

:-ms-input-placeholder
{ /* Internet Explorer 10+ */
    @include placeholder-style();
}

form {
	padding: 5px;
	text-align: left;

	label {
		cursor: pointer;
		margin-top: 5px;
		font-size: 0.9em;
	}

	input, select, textarea {
		margin-top: 5px;
		border: solid #999 1px;
		border-radius: 2px;
	}

	input, select, textarea {
		padding: 2px;
	}

	textarea {
		resize: none;
	}

	select {
		background-color: transparent;
	}
}

.stacked-form {
	label {
		display: block;
		margin-top: 10px;

		&:first-child {
			margin-top: 0;
		}
	}

	input, select, textarea {
		display: block;
		width: 100%;
	}
}

.aligned-form {
	label {
		text-align: right;
		width: calc( 30% - 5px );
		vertical-align: middle;
		display: inline-block;
		padding-right: 0.5em;

		+ input, + select, + textarea {
			width: 70%;
			vertical-align: middle;
		}
	}
}