body {
	background-color: $lighter;
	color: $complement2;
	font-size: 1.5em;
	height: 100%;
	font-family: 'Bad Script', sans-serif;
}

header {
	background-color: $main;
	font-family: Molle;
	padding: 10px;
	font-style: italic;
	line-height: 100px;
	height: 100px;
	font-size: 80px;
	color: $complement1;
	text-shadow: 1px 1px $complement2;
}

h1 {
	color: $complement1;
	text-shadow: 1px 1px $complement2;
	font-size: 50px;
	font-style: italic;
	font-family: Molle;
	width: 100%;
	text-align: center;
	margin-bottom: 10px;
}

table {
	width: 900px;
	margin: 0 auto;

	td {
		width: 300px;
		text-align: center;
	}

	td:hover {
		cursor: pointer;
	}
}

#recipe {
	width: 100%;
	padding: 20px;
	opacity: 0;
	display: none;

	h2, h3 {
		margin-top: 0;
		margin-bottom: 0;
		font-family: Molle;
		font-style: italic;
	}

	ul {
		list-style-type: circle;
	}

	h3 {
		margin-top: 10px;
	}

	div {
		width: 35%;
		float: left;
	}

	div:last-child {
		width: 65%;
	}

	li {
		margin-bottom: 10px;
	}
}