.common-menu-base {
	list-style: none;
	border-radius: 2px;
	padding-left: 0;
	color: $lightest;

	li {
		height: 35px;

		a {
			background-color: $main;
			font-size: 1.1em;
			font-weight: bold;
			transition: 0.5s;
			text-decoration: none;
			color: inherit;
			padding-left: 20px;
			padding-right: 20px;
			display: inline-block;
			line-height: 35px;

			&:hover {
				background-color: $lighter;
				transition: 0.5s;
			}

			&:visited {
				color: inherit;
			}
		}
	}
}

.common-menu {
	@extend .common-menu-base;
	height: 35px;

	li {
		float: left;
		margin-right: 2px;

		&:first-child a {
			border-radius: 2px 0 0 2px;
		}

		&:last-child {
			margin-right: 0;

			a {
				border-radius: 0 2px 2px 0;
			}
		}
	}
}

.common-sidebar {
	@extend .common-menu-base;
	width: 200px;

	li {
		height: 37px;

		&:first-child a {
			border-radius: 2px 2px 0 0;
		}

		&:last-child {
			border-bottom-width: 0;
			
			a {
				border-radius: 0 0 2px 2px;
			}
		}

		a {
			width: 200px;
		}
	}
}