@mixin box-sizing( $sizing ) {
	-webkit-box-sizing: $sizing;
	   -moz-box-sizing: $sizing;
	        box-sizing: $sizing;
}

@mixin inner-shadow( $distance ) {
   -moz-box-shadow:    inset 0 0 $distance #000000;
   -webkit-box-shadow: inset 0 0 $distance #000000;
   box-shadow:         inset 0 0 $distance #000000;
}