h1,
h2,
h3,
h4,
h5,
h6 {
  font-variant: small-caps;
}

body {
  font-family: Garamond, Georgia, "Times New Roman", Times, serif;
  font-size: 16pt;
}

table thead {
  background-color: transparent;
  color: inherit;
  font-variant: small-caps;
}
